@font-face {
  font-family: 'Business';
  src:  url('fonts/Business.eot?7xn2d4');
  src:  url('fonts/Business.eot?7xn2d4#iefix') format('embedded-opentype'),
    url('fonts/Business.ttf?7xn2d4') format('truetype'),
    url('fonts/Business.woff?7xn2d4') format('woff'),
    url('fonts/Business.svg?7xn2d4#Business') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="awb-business-"], [class*=" awb-business-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Business' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.awb-business-chart:before {
  content: "\e920";
}
.awb-business-circle:before {
  content: "\e921";
}
.awb-business-folder:before {
  content: "\e922";
}
.awb-business-graph:before {
  content: "\e923";
}
.awb-business-mission:before {
  content: "\e924";
}
.awb-business-settings:before {
  content: "\e925";
}
.awb-business-menu-3:before {
  content: "\e91c";
}
.awb-business-menu-2:before {
  content: "\e91e";
}
.awb-business-menu-1:before {
  content: "\e91f";
}
.awb-business-globe-solid:before {
  content: "\e90a";
}
.awb-business-chart-line-solid:before {
  content: "\e90b";
}
.awb-business-chalkboard-teacher-solid:before {
  content: "\e90c";
}
.awb-business-moon-regular:before {
  content: "\e90d";
}
.awb-business-bookmark-regular:before {
  content: "\e90e";
}
.awb-business-flag-regular:before {
  content: "\e90f";
}
.awb-business-play-solid:before {
  content: "\e910";
}
.awb-business-map-regular:before {
  content: "\e911";
}
.awb-business-binoculars-solid:before {
  content: "\e912";
}
.awb-business-user-friends-solid:before {
  content: "\e913";
}
.awb-business-phone-alt-solid:before {
  content: "\e914";
}
.awb-business-clock-regular:before {
  content: "\e915";
}
.awb-business-envelope-open-regular:before {
  content: "\e916";
}
.awb-business-headphones-alt-solid:before {
  content: "\e917";
}
.awb-business-star-solid:before {
  content: "\e918";
}
.awb-business-angle-right-solid:before {
  content: "\e919";
}
.awb-business-long-arrow-alt-right-solid:before {
  content: "\e91a";
}
.awb-business-times-solid:before {
  content: "\e91b";
}
.awb-business-star-regular:before {
  content: "\e91d";
}
.awb-business-business-consulting:before {
  content: "\e900";
}
.awb-business-content-planning:before {
  content: "\e902";
}
.awb-business-data-analytics:before {
  content: "\e906";
}
.awb-business-marketing-strategy:before {
  content: "\e907";
}
.awb-business-private-taxation:before {
  content: "\e908";
}
.awb-business-sales-management:before {
  content: "\e909";
}
.awb-business-history:before {
  content: "\e901";
}
.awb-business-relations:before {
  content: "\e903";
}
.awb-business-top-rated:before {
  content: "\e904";
}
.awb-business-trusted:before {
  content: "\e905";
}
